/* --------------------------------------------------------
Aniversario 90 años - Farmacias Knop

version: 1.0
last modified: 10/08/2021 by Farmacias Knop
author: Farmacias Knop
website: http://farmaciasknop.com
----------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.verde {
    color: #375736;
}

.logo {
    width: 180px;
    height: auto;
}

.navbar-nav {
    background-color: #375736;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.nav-link {
    color: white; 
}

.img-header {
    width: 530px;
    height: auto;;
}

.img-texto {
    padding: 10px 0;
}

.parrafo {
    font-size: 16px;
    font-weight: 500;
}

.img-historia {
    width: 530px;
    height: auto;
}

.titulo {
    font-size: 20px;
    color: #375736;
    font-weight: 900;
}

.mt-7 {
    margin-top: 6rem!important;
}

.mw-90 {
    max-width: 90%;
}

