/* --------------------------------------------------------
Aniversario 90 años - Farmacias Knop

Version: 1.0
Last modified: 10/08/2021 by Farmacias Knop
Author: Farmacias Knop
Website: http://farmaciasknop.com
----------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%
}

.verde {
    color: #375736;
}

.gris{
    color: #5b5b5b;

}

.blanco {
  color: white;
}

.amarillo {
  color: #b5ff00 !important;
}

.logo {
    width: 180px;
    height: auto;
}

.navbar-nav {
    background-color: #375736;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.nav-link {
    color: white; 
}

.navbar-dark .navbar-toggler {
    color: #245830 !important;
}

.img-header {
    width: 530px;
    height: auto;;
}

.img-texto {
    padding: 10px 0;
}

.parrafo {
    font-size: 16px;
    font-weight: 500;
}

.img-historia {
    width: 530px;
    height: auto;
}

.titulo {
    font-size: 20px;
    color: #375736;
    font-weight: 900;
}

.txt-none {
  text-decoration: none;
  color: white;
}

.b-bottom {
  border-bottom: 2px solid #b5ff00;
  padding: 5px 0;
}

.txt-none:hover {
  text-decoration: none;
  color: white;
}

.mt-7 {
    margin-top: 6rem!important;
}

.mw-90 {
    max-width: 90%;
}

.pb-20 {
    padding-bottom: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.btn-success {
    background-color: #375736 !important;
    border-color: #375736 !important;
}

.footer-bg {
    background-color: #1c5830;
    padding: 5px 0;
}

.list-group-item {
    background-color: #1c5830 !important;
    color: white !important;
}

.email {
  font-size: 12px;
}

.telefono {
  font-size: 20px;
  font-weight: 600;
}

.horario {
  font-size: 14px;
  font-weight: 400;
}

.feather {
  width: 30px;
  height: 30px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  margin-left: 10px;
}

/*Timeline*/

.timeline-carousel {
    margin: 0;
    background-color: #ffffff;
    font-weight: 900;
    padding: 86px 6.9444% 90px 6.9444%;
    position: relative;
    overflow: hidden;
  }
  .timeline-carousel:after, .timeline-carousel:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    height: 100%;
    width: 6.9444%;
    background-color: #ffffff;
    z-index: 3;
    width: 6.9444%;
  }
  .timeline-carousel:after {
    left: 0;
  }
  .timeline-carousel:before {
    right: 0;
    opacity: 0;
  }
  .timeline-carousel .slick-list {
    overflow: visible;
  }
  .timeline-carousel .slick-dots {
    bottom: -73px;
  }
  .timeline-carousel h1 {
    color: #245830;
    font-weight: 600;
  }
  .timeline-carousel p {
    color: #245830;
    font-weight: 300;
  }
  .timeline-carousel__image {
    padding-right: 30px;
  }
  .timeline-carousel__item {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }
  .timeline-carousel__item .media-wrapper {
    opacity: 0.4;
    padding-bottom: 71.4%;
    -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  .timeline-carousel__item:last-child .timeline-carousel__item-inner:after {
    width: calc(100% - 30px);
  }
  .timeline-carousel__item-inner {
    position: relative;
    padding-top: 45px;
  }
  .timeline-carousel__item-inner:after {
    position: absolute;
    width: 100%;
    top: 45px;
    left: 0;
    content: "";
    border-bottom: 1px solid green;
  }
  .timeline-carousel__item-inner .year {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #245830;
    display: table;
    letter-spacing: -1px;
    padding-right: 10px;
    background-color: #ffffff;
    z-index: 1;
    position: relative;
    margin: -15px 0 20px;
    font-weight: 700;
  }
  .timeline-carousel__item-inner .year:after {
    content: "";
    position: absolute;
    display: block;
    left: -10px;
    top: 0;
    height: 100%;
    width: 10px;
    background-color: #ffffff;
    z-index: 3;
  }
  .timeline-carousel__item-inner .month {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #245830;
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
  }
  .timeline-carousel__item-inner p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #212529;
    width: 90%;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .timeline-carousel__item-inner .read-more {
    font-size: 12px;
    color: #245830;
    display: table;
    margin-bottom: 10px;
    font-weight: 900;
    text-decoration: none;
    position: relative;
  }
  .timeline-carousel__item-inner .read-more:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    border-bottom: 2px solid #245830;
    -webkit-transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -o-transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  .timeline-carousel__item-inner .read-more:hover:after {
    width: 100%;
  }
  .timeline-carousel__item-inner .pointer {
    height: 29px;
    position: relative;
    z-index: 1;
    margin: -4px 0 16px;
  }
  .timeline-carousel__item-inner .pointer:after, .timeline-carousel__item-inner .pointer:before {
    position: absolute;
    content: "";
  }
  .timeline-carousel__item-inner .pointer:after {
    width: 9px;
    height: 9px;
    border-radius: 100%;
    top: 0;
    left: 0;
    background-color: #245830;
  }
  .timeline-carousel__item-inner .pointer:before {
    width: 1px;
    height: 100%;
    top: 0;
    left: 4px;
    background-color: #245830;
  }
  .timeline-carousel .slick-active .media-wrapper {
    opacity: 1 !important;
  }
  
  .slick-dots {
    bottom: 160px;
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 2;
  }
  .slick-dots li {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    display: inline-block;
    margin: 0 6px;
    position: relative;
    width: 10px;
    height: 10px;
  }
  .slick-dots li:last-child {
    margin-right: 0;
  }
  .slick-dots li.slick-active button {
    background: #245830;
    border-color: #245830;
  }
  .slick-dots li button {
    display: block;
    font-size: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #245830;
    border-radius: 10px;
    padding: 0;
    color: #375736;
    background-color: rgba(17, 145, 39, 0.6);
    border-color: rgba(17, 145, 39, 0.6);
    cursor: pointer;
    -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  }
  .slick-dots li button:hover {
    background: #245830;
    border-color: #245830;
    color: #375736;
  }
  
  .link {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    z-index: 9999;
  }
  .link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }
  .link .fa {
    font-size: 28px;
    margin-right: 8px;
    color: #fff;
  }
  
  .slick-prev svg, .slick-next svg {
    height: auto;
    width: 18px;
    padding-bottom: 2px;
  }
  .slick-prev .btn, .slick-next .btn {
    border-radius: 0;
    font-family: "Libre Franklin", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .slick-prev, .slick-next {
    position: absolute;
    top: 0;
    z-index: 9999;
    border-radius: 0;
    font-family: "Libre Franklin", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .slick-prev {
    left: 0;
  }
  
  .slick-next {
    right: 30px;
  }

  /*Carrousel*/
  
.ftco-section {
  padding: 10px 0; }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.heading-section {
  font-size: 28px; }

  .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .owl-carousel {
    position: relative;
  }
  .owl-carousel .owl-item {
    opacity: 1;
  }
  .owl-carousel .owl-item.active {
    opacity: 1;
  }
  .owl-carousel .owl-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -10px;
    color: rgba(0, 0, 0, 0.2) !important;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    opacity: 1;
  }
  @media (prefers-reduced-motion: reduce) {
    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
    }
  }
  .owl-carousel .owl-nav .owl-prev span:before,
  .owl-carousel .owl-nav .owl-next span:before {
    font-size: 16px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  @media (prefers-reduced-motion: reduce) {
    .owl-carousel .owl-nav .owl-prev span:before,
    .owl-carousel .owl-nav .owl-next span:before {
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
    }
  }
  .owl-carousel .owl-nav .owl-prev:hover span:before,
  .owl-carousel .owl-nav .owl-next:hover span:before {
    color: #1c5830;
  }
  .owl-carousel .owl-nav .owl-prev {
    right: 0;
    margin-right: 20px;
  }
  .owl-carousel .owl-nav .owl-next {
    right: 0;
  }
  .owl-carousel .owl-dots {
    text-align: left;
    margin-top: 10px;
  }
  .owl-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    position: relative;
  }
  .owl-carousel .owl-dots .owl-dot:hover,
  .owl-carousel .owl-dots .owl-dot:focus {
    outline: none !important;
  }
  .owl-carousel .owl-dots .owl-dot.active {
    background: #1c5830;
  }
  
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
  }
  
  .work {
    width: 100%;
  }
  .work .img {
    width: 100%;
    height: 500px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    -webkit-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
    z-index: 0;
  }
  .work .img:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: -1;
    background: rgba(255, 93, 177, 0);
    background: -moz-linear-gradient(top, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, black 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 93, 177, 0)), color-stop(42%, rgba(148, 54, 103, 0)), color-stop(100%, black));
    background: -webkit-linear-gradient(top, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, black 100%);
    background: -o-linear-gradient(top, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, black 100%);
    background: -ms-linear-gradient(top, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, black 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 93, 177, 0)), color-stop(42%, rgba(148, 54, 103, 0)), to(black));
    background: linear-gradient(to bottom, rgba(255, 93, 177, 0) 0%, rgba(148, 54, 103, 0) 42%, black 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#000000', GradientType=0 );
    opacity: 0.6;
  }
  .work .text {
    padding: 35px;
    padding-top: 0;
  }
  .work .text h3 {
    font-size: 24px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
  }
  .work .text h3 a {
    color: #fff;
  }
  .work .text .cat {
    font-size: 12px;
    color: #1c5830;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.9);
    padding: 1px 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 5;
  }

  #topBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background: #83b841;
    color: white;
    border-radius: 30px;
    border: none;
    cursor: pointer;
  }

  .m-left {
    margin-left: 0 !important;
    margin-bottom: 2px !important;
  }
  

/*media queries*/
@media (max-width: 768px) {

    .footer-title {
        font-size: 24px;
        font-weight: 900;
        color:#375736;
        padding-top: 30px;
    }

    .footer-parrafo {
        font-size: 18px;
        color: #5b5b5b;
        padding-bottom: 10px;
    }

    .txt-center {
        text-align: center;
    }

    .ptm-20 {
        padding-top: 20px;
    }

    .form-control {
        margin-top: 10px !important;
    }

    .boton {
        margin-top: 10px;
    }

    .img-historia {
      max-width: 80%;
    }

    .img-header {
      max-width: 80%;
    }

    .img-texto {
      max-width: 80%;
    }

    .m-left {
      margin-left: -2px !important;
      margin-bottom: 2px !important;
    }
   
}